@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&display=swap');
  body {
    display: flex;
    flex-direction: column;
    font-family: 'Fira Code', monospace;
    margin: 0;
    background-color: #FFE4E1;
  }
  
  .linkformtable{
    text-align: center;
  }

  #menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:#80007F;
    margin: auto;
    margin-bottom: 15px;
  }
 
  #menu a {
    color:  #fff;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
  }

  .header {
    display: flex;
    height: 70px;
    text-align: center;
    background: #BC8F9D;
    color: #fff;
  }
  
  .header h1{
    display: inline-block;
    font-family: 'Fira Code', monospace;
    font-size: 25px;
    line-height: 42px;
  }

  h1{
    max-width: 949px;
  }

  .links{
    margin: 0;
    background-color:#DB708D;
    margin-bottom: 15px;
  }

  .form{
    margin: 0;
    background-color: #DB706E	;
    line-height: 27px;
    margin-bottom: 15px;
  }

.table{
    order: 1;
    margin: 0;
    height: 400px;
    background-color:  #DB70A2;
}


#form{
  margin-left: 10px;
}

table {
  margin: 0 auto;
  font-family: 'Fira Code', monospace;
  text-align: left;
  border-collapse: separate;
  border-spacing: 7px;
  background:  #FFE4E1;
  color: #656665;
  border: 10px double #FFA500;
  border-radius: 20px;
}
  th {
    font-size: small;
  }
  td {
  background: #F5D7BF;
  }

  footer{
    order: 1;
    background-color:#BC8F9D;
    height: 40px;
    text-align: left;
    letter-spacing: 2px;
    padding-left: 30px;
    padding-top:  15px;
    font-size: 13px;
    margin-top: 15px;
  }

  .nch{
    background-color: #FF7F50;
  }

 @media (min-width: 960px){
   body{
     align-items: center;
   }
   #menu {
    max-width: 960px;
    flex-direction: row;
  }
  .header{
    display: flex;
    max-width: 960px;
    margin: 0 auto;
  }
  #site{
    font-size: 40px;
  }
  .links{
    width: 960px;
  }
  .form{
    order: 1;
    width: 960px;
    margin-bottom: 0;
  }
  .table{
    width: 960px;
    margin-bottom: 15px;
  }
  footer{
    margin-top: 0;
    text-align: left;
    letter-spacing: 2px;
    padding-left: 55px;
    padding-top: 15px;
    font-size: 18px;
    align-self: stretch;
  }
  }
 @media (min-width: 480px){
  table {
  border-spacing: 9px;
  }
  th {
  font-size: 18px;
  padding: 10px;
  }
  td {
  padding: 10px;
  }
  .table{
    height: 430px;
    background-color:  #DB70A2;
  }
}
@media (min-width: 370px){
  .header h1{
    font-size: 28px;
  }
 }
 @media (min-width: 420px){
  .header h1{
    font-size: 32px;
    line-height: 27px;
  }
 }